<!-- add_user.html -->
{% extends 'main.html' %}
{% block crud_container %}
    <section class="container-fluid">
        <h2 align="center">Добавить пользователя</h2>
        <br>
        <form action="/user" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Имя пользователя:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="age" class="form-label">Возраст:</label>
                <input type="number" class="form-control" id="age" name="age" required>
            </div>
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
    </section>
{% endblock %}
